[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "faunabr"]
	path = faunabr
	url = https://github.com/wevertonbio/faunabr
[submodule "florabr"]
	path = florabr
	url = https://github.com/wevertonbio/florabr
